export MY_XMONAD_WALLPAPER="{{ wallpaper }}"
export MY_XMONAD_STARTUP_SOUND="{{ startup_sound }}"
export MY_XMONAD_THEME_FONT_NAME="{{ font_name }}"
export MY_XMONAD_THEME_FONT_SIZE="{{ xmonad_font_size }}"
export MY_XMONAD_DMENU_FONT_SIZE="{{ dmenu_font_size }}"

# vim:filetype=zsh
