file:///home/{{ user }}/Books
file:///home/{{ user }}/Code
file:///home/{{ user }}/Documents
file:///home/{{ user }}/Downloads
file:///home/{{ user }}/Music
file:///home/{{ user }}/Pictures
file:///home/{{ user }}/Videos
