[Settings]
gtk-icon-theme-name={{ icon_theme }}
gtk-theme-name={{ gtk_theme }}
gtk-font-name={{ font_name}} {{ font_size }}
gtk-cursor-theme-name={{ cursor_theme }}
gtk-cursor-theme-size=0
gtk-toolbar-style=GTK_TOOLBAR_BOTH
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=1
gtk-menu-images=1
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=1
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
