[colors.bright]
black = "0x4C566A"
blue = "0x81A1C1"
cyan = "0x8FBCBB"
green = "0xA3BE8C"
magenta = "0xB48EAD"
red = "0xBF616A"
white = "0xECEFF4"
yellow = "0xEBCB8B"

[colors.cursor]
cursor = "0xd8dee9"
text = "0x2e3440"

[colors.dim]
black = "0x373e4d"
blue = "0x68809a"
cyan = "0x6d96a5"
green = "0x809575"
magenta = "0x8c738c"
red = "0x94545d"
white = "0xaeb3bb"
yellow = "0xb29e75"

[colors.footer_bar]
background = "0x434c5e"
foreground = "0xd8dee9"

[colors.normal]
black = "0x3B4252"
blue = "0x81A1C1"
cyan = "0x88C0D0"
green = "0xA3BE8C"
magenta = "0xB48EAD"
red = "0xBF616A"
white = "0xE5E9F0"
yellow = "0xEBCB8B"

[colors.primary]
background = "0x2E3440"
dim_foreground = "0xa5abb6"
foreground = "0xD8DEE9"

[colors.search.matches]
background = "0x88c0d0"
foreground = "CellBackground"

[colors.selection]
background = "0x4c566a"
text = "CellForeground"

[colors.vi_mode_cursor]
cursor = "0xd8dee9"
text = "0x2e3440"

[font]
size = {{ mono_font_size }}

[font.normal]
family = "{{ mono_font_name }}"

[[keyboard.bindings]]
chars = "\u001B[13;6u"
key = "Return"
mods = "Control|Shift"

[[keyboard.bindings]]
chars = "\u001B[13;2u"
key = "Return"
mods = "Shift"

[[keyboard.bindings]]
chars = "\u001B[13;5u"
key = "Return"
mods = "Control"

[window]
dynamic_title = true

[window.padding]
x = {{ alacritty_padding_x }}
y = {{ alacritty_padding_y }}

# vim:filetype=toml
